*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin-top: 50px !important;
    margin:auto ;
    height: 100%;
    border-radius: 20px;
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    
}
.heading{
    margin-top: 25px !important;
    color: aliceblue;
    width: 70%;
    padding: 25px;
    border-radius: 20px;
    margin: auto;

}

.input{
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    border: 1px solid orange;
    margin-right: 10px;
    margin-bottom: 30px;
    padding-left: 20px ;
    
}
.inputbtn{
    margin-top: 20px;
    margin-left: 250px;
    margin-right: 200px;
    
}
.list{
    margin-top: 5px;
    margin-left: 200px;
    margin-right: 250px;
    margin-bottom: 50px ;
    padding-bottom: 20px;
}
.listItem{
  display: flex;
  justify-content: space-between;
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
  margin-bottom: 10px;

  margin-top: 10px;
  /* background: rgb(63,219,251); 
 background: radial-gradient(circle, rgba(63,219,251,1) 0%, rgba(252,70,156,1) 100%);  */
padding-left: 20px;
background-color: white;
}
